<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/modmain/pkgmain/Main.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pkgmain.Main"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="modmain"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--add-exports java.base/jdk.internal.misc=modmain"/>
</launchConfiguration>
